<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: metatags(name='Amministrazione')"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div.ex1{
        width:700px;


        }
    </style>
</head>

<body>

<th:block th:replace="fragments :: header"></th:block>
<div class="container bg-secondary bg-opacity-50 mb-2 pb-1 rounded-bottom">
    <div class="container-fluid d-flex justify-content-around ">
        <div class="text-center bg-white rounded m-1 col-5">
            <h3>I Corsi Più Visti</h3>
            <table class="table bg-white">
                <thead>
                <tr>
                    <td scope="col">Num.Visual.</td>
                    <td scope="col">Nome Corso</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="topC,in : ${topCorsi}" th:unless="${in.index > 10}">
                    <td th:text="${topC.numVisual}"></td>
                    <td th:text="${topC.titolo}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center bg-white rounded m-1 col-5">
            <h3>Ultimi Corsi Aggiunti</h3>
            <table class="table bg-white">
                <thead>
                <tr>
                    <td scope="col">Titolo Corso</td>
                    <td scope="col">Creato il:</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="last : ${ultimi}">
                    <td th:text="${last.titolo}"></td>
                    <td th:text="${last.dataCreazione}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center bg-white rounded pb-1">
        <h3>Elenco Lezioni Private</h3>
        <form class="form-control border-0" th:action="@{/admin}">
            <div class="input-group">
                <select class="form-select" id="inputGroupSelect" aria-label="Example" th:name="iId">
                    <option selected value="">Seleziona un professore</option>
                    <option th:each="i : ${insegnanti}" th:text="${i.nome}+' '+${i.cognome}" th:value="${i.id}"></option>
                </select>
                <button class="btn btn-outline-secondary" type="submit">Button</button>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Data prenotazione</th>
                <th scope="col">Orario</th>
                <th scope="col">Email Studente</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${preno}">
                <td th:text="${p.dataPrenotazione}"></td>
                <td th:switch="${p.slotOrari}">
                    <span th:case="'0'">10:00</span>
                    <span th:case="'2'">10:30</span>
                    <span th:case="'3'">11:00</span>
                    <span th:case="'4'">11:30</span>
                    <span th:case="'5'">12:00</span>
                    <span th:case="'6'">12:30</span>
                    <span th:case="'7'">15:00</span>
                    <span th:case="'8'">15:30</span>
                    <span th:case="'9'">16:00</span>
                    <span th:case="'10'">16:30</span>
                    <span th:case="'11'">17:00</span>
                </td>
                <td th:text="${p.emailPrenonato}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="d-flex justify-content-around mt-5">


    <div class="w-25">

        <h2 class="text-center">Lista Insegnanti <a class="btn btn-dark"  title="Edit" th:href="@{/admin/add}" role="button"><i class="bi bi-plus-lg"></i></a></h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th class="text-center" scope="col">Azioni</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ins : ${insegnanti}">
                <td th:text="${ins.nome}"></td>
                <td th:text="${ins.cognome}"></td>
                <td class="ms-5 text-center">
                    <a class="btn btn-dark"  title="Edit" th:href="@{|/admin/edit/${ins.getId}|}"><i class="bi bi-pen text-white"></i></a>
                    <a class="btn btn-dark" title="Delete" th:href="@{|/admin/del/${ins.getId}|}" onclick="return confirm('Sei sicuro ?')"><i class="bi bi-trash text-white"></i></a>
                    <a class="btn btn-success"  title="Add Photo" th:href="@{|/image/${ins.getId}|}"><i class="bi bi-images"></i></a>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
    <div class="ex1">
        <h2 class="text-center">Lista Corsi <a class="btn btn-dark"  title="Edit" th:href="@{/admin/addCorsi}" role="button"><i class="bi bi-plus-lg"></i></a></h2>
        <table class="table ex1">
            <thead>
            <tr>
                <th class ="text-center" scope="col">Nome Corso</th>
                <th class ="text-center" scope="col">Livello</th>
                <th class ="text-center" scope="col">Durata(ore)</th>
                <th class ="text-center" scope="col">Data creazione</th>
                <th class ="text-center" scope="col">Azioni</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="corsi : ${corsi}">
                <td class ="fw-bold" th:text="${corsi.titolo}"></td>
                <td class ="text-center" th:text="${corsi.livelloDifficolta}"></td>
                <td class ="text-center" th:text="${corsi.durata}"></td>
                <td class ="text-center" th:text="${corsi.dataCreazione}"></td>
                <td class="ms-5 text-center">
                    <a class="btn btn-dark"  title="Edit" th:href="@{|/admin/editCorsi/${corsi.getId}|}"><i class="bi bi-pen text-white"></i></a>
                    <a class="btn btn-dark" title="Delete" th:href="@{|/admin/delCorsi/${corsi.getId}|}" onclick="return confirm('Sei sicuro ?')"><i class="bi bi-trash text-white"></i></a>
                    <a class="btn btn-success"  title="Edit" th:href="@{|/admin/capitoli/${corsi.getId}|}"><i class="bi bi-journal-plus"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<script src="./Headers · Bootstrap v5.2_files/bootstrap.bundle.min.js.download" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>