<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments :: metatags(name='Corsi')">
</head>
<body>
    <header th:replace="fragments :: header"></header>
    <main>
        <div class="container">
            <div class="top3" >
                <div class="section-title my-3">
                    <h2>I 3 corsi più visti</h2>
                </div>
                <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                    <div class="col" th:each="cors : ${corsiTop}">
                        <th:block th:insert="fragments :: cardB(${cors.id},
                        ${cors.capitoli[0].url},
                        ${cors.titolo}, ${cors.categorie.nome},
                        ${cors.livelloDifficolta},${cors.durata},
                        ${cors.tags})">
                        </th:block>
                        </div>
                       </div>
                      </a>
                </div>
            </div>
            <div class="categorie">
                <div id="cats" class="section-title my-3">
                    <h2>Categorie</h2>
                </div>
                <div class="container">
                        <!-- form action="/corsi">
                            <a type="button" class="btn btn-light" th:href="@{/corsi}">Tutte</a>
                            <button class="btn btn-light" name="cat" type="submit" th:each="cat : ${categorie}" th:value="${cat.nome}" th:text="${cat.nome}"></button>
                        </form -->
                        <a type="button" class="btn btn-light" th:href="@{/corsi#cats}">Tutte</a>
                        <a type="button" class="btn btn-light" th:href="@{|/corsi&#63cat=${cat.nome}#cats|}" th:each="cat : ${categorie}" th:text="${cat.nome}"></a>
                </div>
            </div>
            <div class="all">
                <div class="section-title my-3">
                    <h2>Tutti i nostri corsi</h2>
                </div>
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                        <div class="col" th:each="corso : ${corsi}">
                            <th:block th:insert="fragments :: cardB(${corso.id},
                            ${corso.capitoli[0].url},
                            ${corso.titolo}, ${corso.categorie.nome},
                            ${corso.livelloDifficolta},${corso.durata},
                            ${corso.tags})">
                            </th:block>
                        </div>
                      </div>    
            </div>
        </div>
        </div>
    </main>
</body>
</html>