<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="fragments :: metatags(name='Edit Insegnanti')"></th:block>

</head>
<body>



<th:block th:replace="fragments :: header"></th:block>

<form
        id="form-insegnanti"
        enctype="multipart/form-data"
        th:action="@{/admin/save}"
        method="POST"
>
    <!-- input type="hidden" th:field="*{id}" -->
    <div class="container w-25 mt-5">
        <div th:object="${AddInsegnanti}">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">

                <label for="nome">Nome Insegnante</label>
                <input type="text" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Inserire Nome" th:field="*{nome}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
                    <div th:each="err : ${#fields.errors('nome')}" th:text="${err}"></div>
                </div>

            </div>

            <div class="form-group">
                <label for="cognome">Cognome Insegnante</label>
                <input type="text" class="form-control" id="cognome" aria-describedby="emailHelp" placeholder="Inserire cognome" th:field="*{cognome}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('cognome')}" class="invalid-feedback">

                    <div th:each="err : ${#fields.errors('cognome')}" th:text="${err}"></div>

                </div>
            </div>
        </div>
        <div th:object="${imgForm}">
            <div class="mb-3">
                <label for="contentMultipart" class="form-label">Add a new image</label>
                <input class="form-control" type="file" id="contentMultipart" th:field="*{contentMultipart}">
            </div>
        </div>
        <button type="submit" class="btn btn-dark mt-2"> Salva </button>
    </div>
</form>
<!-- footer th:replace = "fragments :: footer"></footer -->
</body>
</html>

