<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="fragments :: metatags(name='Aggiungi Insegnanti')"></th:block>

</head>
<body>


<th:block th:replace="fragments :: header"></th:block>

<form
        id="form-insegnanti"
        th:object="${AddCorsi}"
        th:action="@{/admin/saveCorsi}"
        method="POST">

    <input type="hidden" th:field="*{id}">
    <div class="container w-25 mt-5">
        <div class="form-group">

            <label for="titolo">Titolo del corso</label>
            <input type="text" class="form-control" id="titolo" aria-describedby="emailHelp" placeholder="Inserire titolo..." th:field="*{titolo}" th:errorClass="is-invalid">
            <div th:if="${#fields.hasErrors('titolo')}" class="invalid-feedback">
                <div th:each="err : ${#fields.errors('titolo')}" th:text="${err}"></div>
            </div>

        </div>

        <div class="form-group">
            <label for="descrizione">Descrizione</label>
            <input type="text" class="form-control" id="descrizione" aria-describedby="emailHelp" maxlength="500" placeholder="Inserire Descrizione..." th:field="*{descrizione}" th:errorClass="is-invalid">
            <div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback">

                <div th:each="err : ${#fields.errors('descrizione')}" th:text="${err}"></div>

            </div>
        </div>

        <div class="form-group">
            <label for="livelloDifficolta">Livello di difficoltà</label>
            <input type="number" class="form-control" id="livelloDifficolta" min="1" max="5" aria-describedby="emailHelp" placeholder="Valori tra 1 e 5..." th:field="*{livelloDifficolta}" th:errorClass="is-invalid">
            <div th:if="${#fields.hasErrors('livelloDifficolta')}" class="invalid-feedback">

                <div th:each="err : ${#fields.errors('livelloDifficolta')}" th:text="${err}"></div>

            </div>
        </div>

        <div class="form-group">
            <label for="durata">Durata</label>
            <input type="number" class="form-control" id="durata" min="1" max="999" aria-describedby="emailHelp" placeholder="Durata (ore) max 999..." th:field="*{durata}" th:errorClass="is-invalid">
            <div th:if="${#fields.hasErrors('durata')}" class="invalid-feedback">
                <div th:each="err : ${#fields.errors('durata')}" th:text="${err}"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="categorie">Seleziona Categoria</label>
            <select class="form-select" id="categorie"  th:field="*{categorie}">
                <option th:each="c : ${Categorie}" th:text="${c.nome}" th:value="${c.id}"></option>
            </select>
        </div>

        Associa tags
        <div class="accordion" id="accordion1">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingtwo">
                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwo" aria-expanded="false" aria-controls="collapsetwo">
                        Lista tags
                    </button>
                </h2>
                <div id="collapsetwo" class="accordion-collapse collapse" aria-labelledby="headingtwo" data-bs-parent="#accordion1">
                    <div class="accordion-body">
                        <div class="form-check" th:each="tag : ${tags}">
                            <input class="form-check-input" type="checkbox" th:field="*{tags}" th:id="|category_${tag.id}|"  th:value="${tag.id}">
                            <label class="form-check-label" th:for="|category_${tag.id}|" th:text="${tag.nome}" ></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        Associa insegnante
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Lista Insegnanti
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="form-check" th:each="ins : ${AddInsegnanti}">
                            <input class="form-check-input" type="checkbox" th:field="*{insegnantis}" th:id="|category_${ins.id}|"  th:value="${ins.id}">
                            <label class="form-check-label" th:for="|category_${ins.id}|" th:text="${ins.nome} + ' ' + ${ins.cognome}" ></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-dark mt-2"> Salva </button>

    </div>
</form>
<!-- footer th:replace = "fragments :: footer"></footer -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>

