<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:fragment="metatags">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${name}"></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tomorrow&display=swap" rel="stylesheet">
        <style>
      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }
      .wrap {
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        padding-top: 30px;
        position: relative;
      }
      .wrap iframe,
      .wrap object,
      .wrap embed {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
      .linkN, .linkN:link, .linkN:hover {
        color: inherit;
        text-decoration: inherit;
      }
      .logoF {
      font-family: 'Tomorrow', sans-serif;
      }
      .card {
      min-height: 100%;
      }
      footer {
         	text-align: center;
         	margin-top: 30px;
            margin-bottom: 0px;
            width: 100%;
       }
       .prova {
            min-height: 70vh;
            min-height: -webkit-calc(100vh - 186px);
            min-height: -moz-calc(100vh - 186px);
            min-height: calc(100vh - 186px);
       }
    </style>
    </th:block>
</head>

<body>


<main>

    <header th:fragment="header">
        <div class="px-3 py-2 bg-dark">
            <div class="container-fluid">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a th:href="@{/}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">

                        <i class="bi-bank" style="font-size: 2.5rem; color: currentColor"></i>
                        <div class="logoF mx-2" style="font-size: 2rem;">
                        projekt-learning
                        </div>
                    </a>

                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a th:href="@{/}" class="nav-link text-white">
                                <div class="text-center p-0"><i class="bi bi-house-door" style="font-size: 1.5rem; color: currentColor"></i></div>
                                Home
                            </a>
                        </li>
                        <li >
                            <a th:href="@{/corsi}" class="nav-link text-white">
                                <div class="text-center p-0"><i class="bi bi-book" style="font-size: 1.5rem; color: currentColor"></i></div>
                                Corsi
                            </a>
                        </li>
                        <li >
                            <a th:href="@{/corsi/search}" class="nav-link text-white">
                                <div class="text-center p-0"><i class="bi bi-search" style="font-size: 1.5rem; color: currentColor"></i></div>
                                Cerca
                            </a>
                        </li>
                        <li sec:authorize="hasAuthority('USER')">
                            <a th:href="@{/insegnanti}" class="nav-link text-white">
                                <div class="text-center p-0"><i class="bi bi-mortarboard" style="font-size: 1.5rem; color: currentColor"></i></div>
                                Insegnanti
                            </a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="@{/admin}" class="nav-link text-white" >
                                <div class="text-center p-0"><i class="bi bi-menu-button" style="font-size: 1.5rem; color: currentColor"></i></div>
                                Admin
                            </a>
                        </li>
                        <li>
                            <div sec:authorize="isAnonymous()">
                                <a href="/login" class="nav-link text-white">
                                <div class="text-center p-0"><i class="bi bi-box-arrow-in-right" style="font-size: 1.5rem; color: currentColor"></i></div>
                                Login
                                </a>
                            </div>
                            <div sec:authorize="isAuthenticated()">
                                <a href="/logout" class="nav-link text-white">
                                    <div class="text-center p-0"><i class="bi bi-box-arrow-right" style="font-size: 1.5rem; color: currentColor"></i></div>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="b-example-divider"></div>

    

    <th:block th:fragment="cardB (corsoId,corsoURL,corsoT,corsoN,corsoLD,corsoD,corsoTa)">
        <a th:href="@{|/corsi/${corsoId}|}" class="linkN">
            <div class="card shadow">
                <img th:src="@{'https://img.youtube.com/vi/'+ ${corsoURL} +'/0.jpg'}" alt="thumbnail Youtube">
                <div class="card-body">
                    <div class="tiolo border-bottom">
                        <h5 class="card-title" th:text="${corsoT}"></h5>
                    </div>
                    <p class="card-text">Categoria: <span th:text="${corsoN}"></span></p>
                    <p class="card-text">Livello di Difficoltà: <span th:text="${corsoLD}"></span></p>
                    <p class="card-text">Durata: <span th:text="${corsoD} + ' ore'"></span></p>
                    <ul style="list-style: none; padding-left: 0">
                        <li th:each="t : ${corsoTa}" th:text="${t.nome}" class="badge rounded-pill text-bg-primary lh-lg"
                            style="display: inline">

                        </li>
                    </ul>
                </div>
            </div>
        </a>
    </th:block>



</main>


        <footer th:fragment="footer" class="d-flex bg-dark flex-wrap justify-content-between align-items-center  border-top py-2 pe-2">
            <div class="col-md-4 d-flex align-items-center">
                <span class="ms-4 mb-3 mb-md-0 text-muted">© 2022 Team 3; Jana60</span>
            </div>
            <div class="text-muted d-flex py-1">
                <div class="mx-2">
                    <div>Simone Masala</div>
                    <div>Matteo Covetti</div>
                </div>
                <div class="mx-2">
                    <div>RubenJoshua Fiore</div>
                    <div>Emanuele Esposito</div>
                </div>


            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-3">
                <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-twitter"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-instagram"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-facebook"></i></a></li>
            </ul>
        </footer>



<script src="./Headers · Bootstrap v5.2_files/bootstrap.bundle.min.js.download" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>
</html>