<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

	<th:block th:replace="fragments :: metatags(name = 'projekt-learning')"></th:block>

</head>
<body>
	<header th:replace="fragments :: header"></header>
	<div class="b-example-divider"></div>
	<main>
	<div class=" text-center bg-image rounded-3 mb-3">
		<img th:src="@{images/imgback.jpg}" class="img-fluid">
	</div>
	
	<div class="container mb-3">
	<h2>Corsi più caldi:</h2>
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
    	<div class="col" th:each="corso : ${corsiTop}">
    	<th:block th:insert="fragments :: cardB(${corso.id},
                        ${corso.capitoli[0].url},
                        ${corso.titolo}, ${corso.categorie.nome},
                        ${corso.livelloDifficolta},${corso.durata},
                        ${corso.tags})">
                        </th:block>
       </div>
    </div>
    <hr>
	</div>
	
	<div class="container mt-3 mb-3">
	<h2 >Corsi in sconto:</h2>
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
    	<div class="col" th:each="corso : ${tag}">
    	<th:block th:insert="fragments :: cardB(${corso.id},
                        ${corso.capitoli[0].url},
                        ${corso.titolo}, ${corso.categorie.nome},
                        ${corso.livelloDifficolta},${corso.durata},
                        ${corso.tags})">
                        </th:block>
       </div>
    </div>
	</div>

		
	</main>

	<footer th:replace = "fragments :: footer"></footer>


	<script src="./Headers · Bootstrap v5.2_files/bootstrap.bundle.min.js.download" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	
</body>

</html>