<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

	<th:block th:replace="fragments :: metatags(name = 'projekt-learning')"></th:block>
	<style>
      footer {
         	text-align: center;
            position: absolute;
            bottom: 0;
            width: 100%;
       }
   	</style>
</head>
<body>
	<header th:replace="fragments :: header"></header>
	<div class="b-example-divider"></div>
	<main>
	<div class="mb-5 p-5 bg-primary text-white text-center">
  		<h1>PROJEKT LEARNING</h1>
  		<p>Impara con noi!</p>
	</div>
	<h1 class="text-center">Corsi più caldi</h1>
	<div class="container">
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3 justify-content-center">
    	<div  th:each="corso : ${corsiTop}">
			<th:block th:insert="fragments :: cardB(${corso.id},
                            ${corso.capitoli[0].url},
                            ${corso.titolo}, ${corso.categorie.nome},
                            ${corso.livelloDifficolta},${corso.durata},
                            ${corso.tags})">
			</th:block>
       </div>
    </div>
	</div>


		
	</main>

	<footer th:replace = "fragments :: footer"></footer>


	<script src="./Headers · Bootstrap v5.2_files/bootstrap.bundle.min.js.download" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	
</body>

</html>