<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <head th:insert="fragments :: metatags(name='Foto Professore')">
</head>
<body>
    <header th:replace="fragments :: header"></header>
    <main>
        <div class="container">
            <h1>Foto Professore</h1>
            <h2 class="text-muted" th:text="${imgForm.insegnante.cognome}"></h2>
            <hr />
            <div class="col-6">
                <form
                        id="form-img"
                        th:object="${imgForm}"
                        th:action="@{/image/save}"
                        method="POST"
                        enctype="multipart/form-data"
                >
                    <input type="hidden" th:field="*{insegnante}">
                    <div class="mb-3">
                        <label for="contentMultipart" class="form-label">Add a new image</label>
                        <input class="form-control" type="file" id="contentMultipart" th:field="*{contentMultipart}">
                    </div>
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>

                <div class="row">
                    <div class="col-3" th:each="img : ${imageList}">
                        <img th:src="@{|/image/${img.id}/content|}" class="img-fluid" alt="">
                    </div>
                </div>

            </div>
        </div>
    </main>
</body>
</html>