<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
	<th:block th:replace="fragments::metatags(name='Dettali Insegnante')"></th:block>
</head>

<body>
	<header>
		<th:block th:replace="fragments::header">
		</th:block>
	</header>
	<div class="container">
		<h1 class="text-center text-dark ">Profilo Insegnante</h1>


		<div class="text-center">
			<br>
			 

			<table class="table">
				<tbody>
<img th:src="@{|/image/${insegnanti.images[insegnanti.images.size()-1].id}/content|}" alt="pro pic insegnante">
					<td th:text="${insegnanti.nome}"></td>
					<td th:text="${insegnanti.cognome}"></td>

					</tr>
				</tbody>
			</table>
		</div>
		<div class="container">
			<h2 class="text-center text-dark mt-5" th:text="'Corsi:'"></h2>

			<table class="table">
				<thead>
					<tr>
						<th class="text-dark fs-7">Titolo</th>
						<th class="text-dark fs-7">Descrizione</th>
						<th class="text-dark fs-7">Livello Difficoltà</th>
						<th class="text-dark fs-7">Durata</th>
						<th class="text-dark fs-7">Data Creazione</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="i : ${insegnanti.corsi}">
						<td th:text="${i.titolo}"></td>
						<td th:text="${i.descrizione}"></td>
						<td th:text="${i.livelloDifficolta}"></td>
						<td th:text="${i.durata}"></td>
						<td th:text="${i.dataCreazione}"></td>

					</tr>
				</tbody>

			</table>
		</div>

		<form>
			<div class="row">


				<div class="col">
					<a class="btn btn-dark " th:href="@{|/insegnanti/detail/${insegnanti.id}/prenota|}">Prenota una
						lezione privata</a>
				</div>
			</div>

		</form>
	</div>
</body>

</html>