<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
	<th:block th:replace="fragments::metatags(name='Prenotazioni')"></th:block>
</head>

<body>
	<header> <th:block th:replace="fragments::header">
		</th:block>
	</header>
	<div class="container">
		<h1 class="text-center text-secondary ">Prenotazione lezioni</h1>
		<form id="form-prenotazioni"
			  th:object="${prenotazione}"
			  th:action="@{|/insegnanti/detail/${id}/prenota/save|}"
			  method="POST" class="row"
		>
			<!-- ul class="col-12">
				<li th:each="err : ${#fields.allErrors()}" th:text="${err}">
				</li>
			</ul -->
			<div th:if="${#fields.hasAnyErrors()}">
				<ul>
					<li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
				</ul>
			</div>


			<div class="col-6">

				<div class="mb-3">
					<label class="form-label" for="emailPrenonato">Email Prenotato</label>
					<input type="text" id="emailPrenonato" placeholder="Inserire Email" class="form-control"
						th:field="*{emailPrenonato} " th:errorClass="is-invalid">
					<!-- div th:if="${#fields.hasErrors('emailPrenonato')}" class="invalid-feedback">
						<ul>
							<li th:each="err : ${#fields.errors('emailPrenonato')}" th:text="${err}">
						</ul>
					</div -->
				</div>

				<div class="col-6">

					<div class="mb-3">
						<label class="form-label" for="dataPrenotazione">Data Prenotazione</label>
						<input type="date" id="dataPrenotazione" class="form-control" th:field="*{dataPrenotazione}"
							th:errorClass="is-invalid">
						<!-- div th:if="${#fields.hasErrors('dataPrenotazione')}" class="invalid-feedback">
							<ul>
								<li th:each="err : ${#fields.errors('dataPrenotazione')}" th:text="${err}">
							</ul>
						</div -->
					</div>


					<input type="hidden" th:field="*{id}">
					<div class="mb-3">
						<label class="form-label" for="slotOrari">Slot Orari</label>
						<select th:field="*{slotOrari}" class="form-select" aria-label="User select" id="slotOrari">
							<option value="" selected>Seleziona l'orario della lezione</option>
							<option value="1" >10:00</option>
							<option value="2" >10:30</option>
							<option value="3" >11:00</option>
							<option value="4" >11:30</option>
							<option value="5" >12:00</option>
							<option value="6" >12:30</option>
							<option value="7" >15:00</option>
							<option value="8" >15:30</option>
							<option value="9" >16:00</option>
							<option value="10" >16:30</option>
							<option value="11" >17:00</option>
						</select>
					</div>


					<div>
						<button type="submit" class="btn btn-dark">Salva prenotazione</button>
						<a class="btn btn-dark pl-2" href="/insegnanti">Cancella</a>
					</div>
				</div>
			</div>
		</form>
	</div>
	<footer th:replace = "fragments :: footer"></footer>
</body>

</html>